.cart{
    height: 400px;
    background-color: white;
    padding: 23px;
    grid-column: 5/-1;
}

.cart h3:focus{
    color: var(--color-red);
    font-weight: 700;
    font-size: 1.5rem;
}

.cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item .col>h5{
    color: var(--color-rose-900);
    font-weight: 700;
    font-size: 0.9rem;
    padding-bottom: 7px;
}

.col{
    width: 60%;
}


.borrar-product {
    background: none;
    border: 0.1rem solid var(--color-rose-500);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    padding: 0 8px;
  }


  .order{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

  .order span{
    font-weight: 900;
    font-size: 1.6rem;
    color: var(--color-rose-900);
  }

  .order p{
    color: var(--color-rose-500);
    font-weight: 600;
    font-size: 0.9em;
  }


  .confirm-order{
    width: 100%;
    border-radius: 45px;
    background-color: var(--color-red);
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fefefe;
  }


  button{
    border: 0;
    font-family: var(--text);
    font-weight: 500;
  }