
.product_list_card{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}


.product_list_card img{
    max-width: 90%;
    height: auto;
    border-radius: 12px
}